<!DOCTYPE html>
<html ng-app ="lolApp">
  <head>
    <title>LoL Lookup</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='bootstrap/dist/css/bootstrap.css'/>
  </head>
  <body>
    <div data-ui-view></div>

    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>

    <script src="/javascripts/lolApp.js"></script>
    <script src="/javascripts/controllers.js"></script>
  </body>
</html>
