<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats for <%= name %></title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="angular.js"></script>
    <script>
        
    </script>
</head>
<body>
    <div class="page-header">
        <div>
            <img src="<%= profileIcon %>" />
            <span class="large-text"> <%= name %></span>
        </div>
    </div>
</body>
</html>
