body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.over-half-page{
  width: 60%;
  display: inline-flex;
}

.large-text {
  vertical-align: middle;
  font-size: 2.5em;
  margin: 1em 2em;
}

div.custom-header{
  display: inline-flex;
  width: 100%;
  position: relative;
}

div.header-buttons{
  margin-top: 3em;
}

img{
  height: 128px;
  width: 128px;
}

.custom-caption{
  display: block;
  text-align: center;
}
