<div class="page-header custom-header fade-in" ng-controller="MainController">
    <div class="over-half-page">
        <img ng-src={{data.profileIcon}} />
        <span class="large-text"> {{data.name}}</span>
        <div>
            <img ng-src="/images/{{data.rankIcon}}" />
            <span class = 'custom-caption'>{{data.rank}}</span>
        </div>
    </div>
    <div class="btn-group-lg btn-group header-buttons" role="group">
        <button type="button" ng-click="navigate($event)" class="btn btn-default active">Stats</button>
        <button type="button" ng-click="navigate($event)" class="btn btn-default ">Rank</button>
        <button type="button" ng-click="navigate($event)" class="btn btn-default">Runes</button>
        <button type="button" ng-click="navigate($event)" class="btn btn-default">Masteries</button>
    </div>
</div>

<div class="fade-up" data-ui-view></div>